*{
    box-sizing: border-box;
    margin: 0;
}
#messages{
    background: rgb(149, 198, 248);
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #eee;
}
.message{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}
.message p{
    color: rgb(98, 194, 96);
}
#nickname{
    padding: 10px;
}
.anchoMaximo{
    max-width: 1350px;
    margin: 20px auto;
}
.contenedorChat{
    max-width: 500px;
    margin: 10px auto;
    background: rgb(149, 198, 248);
    border: 1px solid gray;
    border-radius: 5px;
}
.contenedorChat h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
.contenedorChat input[type="text"]{
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 10px;
}
.write{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-items: center;
}
.write textarea{
    padding: 5px;
    width: 96%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.write input[type='submit']{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}
.write input[type='submit']:hover{
    background: rgb(157, 233, 157);
}
#alerta{
    margin-top: 5px;
    text-align: center;
    display: none;
    color: red;
}